@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

*{
  margin: 0;
  padding: 0;
}
/*Tela Login*/



/*Menu*/
.btn1[type="button"]{
  outline: none;
  box-shadow: none;
}

.btn2{
  margin-top: -3px;
}

.config{
  margin-top: 221px;
  position:static;
}

.gradt{
  background-color:black;
}

.icon{
  font-size: 50px;
  color: rgb(230, 230, 230)
}

.estilo1{
  background-color: #f7f7f7;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.estilo2{
  background-color: #f7f7f7;
  filter: drop-shadow(1px 2px 0.2rem black);
}

.navbar-brand{
  color: #ea1d2c;
}
.navbar-brand:hover{
  color: rgb(184, 137, 137);
}

.menu{
  color: black;
}
.menu:hover{
  color: rgb(184, 137, 137);
}

.btn1{
  background-color: #ebebeb;
  border-radius: 4px;
  border:none;
  margin: 8px 0;
  padding: 5px 20px;
}
.btn1:hover{
  background-color: #525051;
}

input.form-control:focus {
  border-color: rgb(190, 176, 176);
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header*/
.texto1{
  margin-top: 250px;
}

.texto2{
  margin-top: 140px;
}

.subt{
  margin: 16%;
}

/*Cards*/
.cards{
  width: 150px;
  height: 145px;
  transition: 110ms;
}
.cards:hover{
  cursor: pointer;
  filter: drop-shadow(3px 3px 0.4rem black);
}

/*Categoria*/
.empresa{
  background-color: grey;
  padding: 6px;
}

.linhaCatg{
  padding: 10px;
  width: 30%;
  border-radius: 10px;
  background-color: grey;
}

.catg{
  background-color: #f7f7f7;
}

#itens{
  text-decoration: none;
  color: black;
}
#itens:hover{
  color: grey;
}

/*Rodapé*/
.espaço{
  margin-top: 5px;
  color: #AD5747;
  text-decoration: none;
}
.espaço:hover{
  color:rgb(184, 137, 137);
}

.estiloR{
  box-shadow:2px 2px 2px 2px black;
}

.rodap{
  margin-top: 80px;
  margin-bottom: 40px;
}

.cor{
 color: #ea1d2c;
}
.cor:hover{
  color:rgb(184, 137, 137);
}

.img1{
   margin-left: -12px;
   width: 257px;
   height: 160px;
   border-radius: 10px;
}
.txt1{
  margin-right: 20px;
}

/*Quem Somos*/

  /*Painel*/
  .painel{
    width: 100%;
    height: 280px;
    border-radius: 10px;
    margin-top: 120px;
    transition: filter 0.3s;
  }

  .painel:hover{
    cursor: pointer;
    filter: drop-shadow(3px 3px 0.4rem rgba(0, 0, 0, 0.856));
  }

  .hist{
    margin-top: 150px;
  }

  .histimg{
    border-radius: 10px;
  }

  .criadores{
    margin-top: 100px;
  }

  .cri{
    margin-left: 100px
  }

  .imgcri{
    width: 200px;
  }

  .criad{
    margin-left: 10%;
  }

  .painel2{
    width: 100%;
    height: 280px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .painel3{
    margin-top: 110px;
  }

  .texto-p{
    margin-top: 170px;
    margin-bottom: -80px;
  }

  @media screen and (max-width: 990px){
    .painel{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-top: 170px;
    transition: filter 0.3s;
    }

    .painel2{
      margin-top: -120px;
    }

    .painel3{
      margin-top: 220px;
    }

    .texto-p{
     margin-top: 100px;
     margin-bottom: -100px;
    }

    .mtop{
      margin-top: -100px;
    }
  }

  @media screen and (max-width:575px){
    .divisor{
      margin: 45px;
    }
    .debaixo{
      margin-bottom: 50px;
    }
    .painel{
      width: 80%;
      height: 150px;
      border-radius: 10px;
      margin-top: 110px;
      transition: filter 0.3s;
      }

      .painel2{
        margin-top: -120px;
      }
  
      .painel3{
        margin-top: -10px;
      }
  
      .texto-p{
       margin-top: 350px;
       margin-bottom: -300px;
       margin-left: -25%;
      }
  
      .mtop{
        margin-top: 250px;
      }
      .topo{
        margin-top: 100px;
      }
      .marg{
        margin-top: 400px;
      }
  }

  /*Fale conosco*/

  .fale-c{
    width: 100%;
    height: 200px;
  }

  .ajuda{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: white;
  }

  .text-contact{
    color: rgb(255, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }

  .icons-fale{
    font-size: 40px;
  }

  .list-contact{
    margin-top: 140px;
  }

  .tel{
    margin-left: 250px;
  }

  .chat{
    margin-left: 200px;
  }

  /*Info food truck*/

  .img-info{
    width: 1300px;
    height: 250px;
  }
  
  .icon-info{
    margin-left: 10px;
    width: 50%;
    padding: -5px;
  }

  .titulo-food{
    margin-left: -30px;
    font-family: 'Open Sans', sans-serif;
  }

  .cardapio{
    width: 70%;
  }

  .desc{
    padding: 0;
  }

  .foto{
    padding: 0;
  }

  .circulopessoa{
    border: 1px solid #ea1d2c;
    width: 60px;
    height:60px ;
    border-radius: 100px;
    background-image: url("img/logo.ico");
    
  }

  .logo-user{
    width: 40px;
    margin-left: 8px;
    margin-top: 10px;
  }

  .text-name{
    color: #fff;
    margin-left: -30px;
    margin-top: 10px;
  }

  .cor-button{
    background-color: transparent;
    border: none;
    outline: none; 
  }

  .edicaolink{
    text-decoration: none;
    color: black;
  }
  .edicaolink:hover{
    color: #ea1d2c;
  }