
a.navbar-brand {
    color: #ea1d2c;
}
a.navbar-brand:hover{
    color: rgb(184, 137, 137);
}
button.btn1{
    background-color: #ebebeb;
    border-radius: 4px;
    border:none;
    margin: 8px 0;
    padding: 5px 20px;
}
button.btn1:hover{
    background-color: #525051;
}

button.btn2{
    border-radius: 4px;
    padding: 5px 10px;
    border:none;
    background-color: red;
    color: white;
    margin-left: 7px;
    margin-top: 30px;
}

button.btn2:hover{
    background-color: rgba(168, 2, 2, 0.699);
}

div.offcanvas, .offcanvas-end {
    top: 75px;
    height: 550px;
    width: 300px;
    box-shadow: 2px 15px 15px 2px rgba(0, 0, 0, 0.2);
    border: none;
    
}

nav.navbar,.fixed-top{
    /*margin-top: 100px;*/
    background-color: #f7f6f6;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0px 20px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}
ul.navbar-nav{
    display: flex;
    flex-direction: row;
    align-content: space-between;

}
li.nav-item{
    margin: 30px;
}

a.link{
    color: black;
    text-decoration: none;
}

a.link:hover{
    color:rgb(184, 137, 137);
}
#container{
    margin-top: 150px;
    padding: auto;
    margin-left: 5%;  
}
#container2{
    margin-top: 100px;
    padding: auto; 
}

#container4{
  margin-top: -90px;
  text-align: center;
}

#titulo{
    font-size: 50px;
    font-family: Inter, sans-serif;
    text-align: start; 
}

#titulo2{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center; 
}

#subtitulo{
    margin-top: 20px;
    margin-left: 15%;
    font-size: 15px;
    color: grey;
}
input.form-control{
    width: 30%;
    margin-top: 30px;
    margin-left: 7px;
}

input.form-control:focus {
    border-color: rgb(190, 176, 176);
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 30%;
    margin-left: 7px;
  }

  div.d-flex{
      margin-top: -100px;
  }

  .items {
    position: absolute;
    margin-left: 14.3%;
    margin-top: 20%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 200px;
    height: 260px;
    border-radius: 5%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -6;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-110%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(5%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: rgb(112, 112, 112);
    font-size: 22px;
    cursor: pointer;
    position: relative;
    opacity: 0.90;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    color: rgba(0, 0, 0, 0.842);
  }

  .button-container .button:nth-child(1) {
    float: left;
  }

  .button-container .button:nth-child(2) {
    float: right;
  }

  div.card-columns{
      position:relative;
      float: right;
      border-width:2px;
      margin-top: 10%;
      width: 50%;
      height: 290px;
      align-items: center; 
  }

  div#card1{
    margin-left: 20px;
    float: left;
    border-radius: 50px;
  }
  div#card2{
    margin-right: 20px;
    float: right;

  }
  div#card3{
    margin-left: 20px;
    margin-top: 150px;


  }
  div#card4{
    margin-right: 20px;
    margin-top: -161px;
    float: right;
  }

  div#card1,#card2,#card3,#card4{
    width: 46.4%;
    height: auto;
 
  }


  img#img1{
    background: url(/img/foto2.png);
    border-radius: 10px;
    background-size: cover;
    transition: all 300ms ease-in-out;
  }

  img#img2{
    background: url(/img/foto3.png);
    border-radius: 10px;
    background-size: cover;
    transition: all 300ms ease-in-out;
  }
  img#img3{
    background: url(/img/foto4.jpg);
    border-radius: 10px;
    background-size: cover;
    transition: all 300ms ease-in-out;
  }

  img#img4{
    background:  url(/img/foto5.jpg);
    border-radius: 10px;
    background-size: cover;
    transition: all 300ms ease-in-out;
  }

#img1:hover{
  cursor: pointer;
  filter: drop-shadow(2px 1px 0.5rem rgba(43, 42, 42, 0.644));
  background-size: cover;
}
#img2:hover{
  cursor: pointer;
  filter: drop-shadow(2px 1px 0.5rem rgba(43, 42, 42, 0.644));
  background-size: cover;
}
#img3:hover{
  cursor: pointer;
  filter: drop-shadow(2px 1px 0.5rem rgba(43, 42, 42, 0.644));
  background-size: cover;
}
#img4:hover{
  cursor: pointer;
  filter: drop-shadow(2px 1px 0.5rem rgba(43, 42, 42, 0.644));
  background-size: cover;
}

  img.card-img-bottom{
    height:128.7px;
  }
  
  div#container3{
    margin-top: 500px;
  }

  div.card5{
    background-color: #444444;
    color: white;
    padding: 2px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  div.card6{
    margin-top: 50px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }
  div.card7{
    background-color: gray;
    padding: 10px;
    width: 30%;
    margin-left: 35%;
    border-radius: 20px;
  }

  div.lista{
    margin: 24%;
    margin-top: 50px;
    width: 15%;
  }

  ul#list-group1{
    display: flex;
    align-content: space-between;
    margin: 50px;
  }


  li#list1{
    background-color: #f7f7f7;
    text-align: center;
    font-size: 17px;
  }

  li#list2{
    text-align: left;
    font-size: 15px;
  }

div.cards{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 76rem;
}

div.card{
  margin: 60px;
  border-radius: 20px;
}

img.card-img-top{
  height: 50%;
  border-radius: 5px;
}

div.feliz{
  padding: 20px;
  background-color: teal;
}

a#sm{
  text-decoration: none;
  color: #ea1d2c;
}

div#container5{
  background-color: black;
  box-shadow: 2px 15px 15px 2px rgba(0, 0, 0, 0.2);
}

div.lista2{
  margin-left: 25%;
}