a.navbar-brand {
    color: #ea1d2c;
}
a.navbar-brand:hover{
    color: rgb(184, 137, 137);
}
button.btn1{
    background-color: #ebebeb;
    border-radius: 4px;
    border:none;
    margin: 8px 0;
    padding: 5px 20px;
}
button.btn1:hover{
    background-color: #525051;
}
div.offcanvas, .offcanvas-end {
    margin-top: 167px;
    margin-right: 40px;
    box-shadow: 2px 15px 15px 2px rgba(0, 0, 0, 0.2);
    border: none;
}
nav.navbar,.fixed-top{
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    padding: auto;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}
