*{
  margin: 0;
  padding: 0;
}
/*Menu*/
.btn1[type="button"]{
  outline: none;
  box-shadow: none;
}

.btn2{
  margin-top: -3px;
}

.config{
  margin-top: 221px;
  position:static;
}

.gradt{
  background: linear-gradient(
  #F37335, #fdc630a8)
}

.icon{
  font-size: 50px;
  color: rgb(230, 230, 230)
}

.estilo1{
  background-color: #f7f7f7;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.estilo2{
  background-color: #f7f7f7;
  filter: drop-shadow(1px 2px 0.2rem black);
}

.navbar-brand{
  color: #ea1d2c;
}
.navbar-brand:hover{
  color: rgb(184, 137, 137);
}

.menu{
  color: black;
}
.menu:hover{
  color: rgb(184, 137, 137);
}

.btn1{
  background-color: #ebebeb;
  border-radius: 4px;
  border:none;
  margin: 8px 0;
  padding: 5px 20px;
}
.btn1:hover{
  background-color: #525051;
}

input.form-control:focus {
  border-color: rgb(190, 176, 176);
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header*/
.texto1{
  margin-top: 250px;
}

.subt{
  margin: 16%;
}

/*Cards*/
.cards{
  width: 150px;
  height: 145px;
  transition: 110ms;
}
.cards:hover{
  cursor: pointer;
  filter: drop-shadow(3px 3px 0.4rem black);
}

/*Categoria*/
.empresa{
  background-color: grey;
  padding: 6px;
}

.linhaCatg{
  padding: 10px;
  width: 30%;
  border-radius: 10px;
  background-color: grey;
}

.catg{
  background-color: #f7f7f7;
}

#itens{
  text-decoration: none;
  color: black;
}
#itens:hover{
  color: grey;
}

/*Rodapé*/
.espaço{
  margin-top: 5px;
  color: #AD5747;
  text-decoration: none;
}
.espaço:hover{
  color:rgb(184, 137, 137);
}

.estiloR{
  box-shadow:2px 2px 2px 2px black;
}

.rodap{
  margin-top: 80px;
  margin-bottom: 40px;
}

.cor{
 color: #ea1d2c;
}
.cor:hover{
  color:rgb(184, 137, 137);
}
